body {
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}
h3{
    color: #95938c;
}

header a{
    text-decoration: none;
    text-align: center;
}

.titelbox{
    text-align: center;
}

.titel{
    margin-top: 50px;
    margin-bottom: 5px;
    padding: 0px;
    color: #95938c;
}

.ondertitel{
    font-size: 14px;
    color: #ffc423;
    font-style: italic;
    margin-top: 0px;
    margin-bottom: 30px;
    margin-left: 50px;
    padding: 0px;
}

.menubar{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: #ffce48;
    overflow: hidden;
    border-radius: 1px;
}

.active {
    background-color: #ffc21b;
}

.menubar li{
    float: right;
    padding-right: 0px;
}

.menubar li a{
    display: block;
    color: #fff;
    font-size: 15px;
    padding: 8px 10px;
    margin: 0px;
    text-decoration: none;
}

.menubar li a:hover{
    background-color: #ffc21b;
}

.sfeerfoto{
    margin: 20px 0px;
    height: 30%;
    width: auto;
    background-image: url(Afbeeldingen/sfeerfoto.jpg);
    background-size: cover;
    border-radius: 2px;
    overflow:hidden;
}

div.sfeerfototekst{
    background-color: #ffffff;
    opacity: 0.5;
    padding: 50px;
    color: #474747;
    text-align: center;
}

.werkwoord{
    font-weight: bold;
    font-size: 14px;
}

.definitie{
    font-style: italic;
    font-size: 12px;
    padding-left: 40px;
}

.paginas{
    color: #fff;
}

.benodigdheden, .locaties, .tips{
    opacity: 0.8;
    background-color: #ffc21b;
    height: 100px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 40px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.benodigdheden:hover, .locaties:hover, .tips:hover{
    opacity: 1.0;
}

.benodigdheden h3, .locaties h3, .tips h3{
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
}

.over{
    color: #95938c;
    padding: 20px 10px;
    margin: 10px 10px;
    text-align: justify;
}

* {box-sizing: border-box;}

input[type=text], input[type=email], textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 5px;
    resize: vertical;
}

.formulier {
    border-radius: 5px;
    background-color: #ffce48;
    opacity: 0.4;
    padding: 20px;
    margin-bottom: 20px;
}

input[type=submit] {
    background-color: #7faa08;
    color: white;
    padding: 12px 20px;
    border: solid 1px #fff;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #ffc21b;
  }

footer {
    position: fixed;
    width: 100%;
    background-color: #ffce48;
    text-align: center;
    font-size: 12px;
    color: #fff;
    border-radius: 1px;
}

@media (min-width: 1024px) {
    .sfeerfoto, div.sfeerfototekst{
        height: 350px;
    width: auto;
    }

    div.sfeerfototekst{
        padding: 150px;
    }

    .paginas{
        display: flex;
    }

    .menubar li a{
        font-size: 20px;
    }

    .benodigdheden, .locaties, .tips{
            flex-grow: 1;
            margin: 20px 10px 50px 10px;
    }

    .benodigdheden h3, .locaties h3, .tips h3{
        margin: 0px;
        padding: 0px;
    }

    .titel{
        font-size: 50px;
    }

    .ondertitel{
        font-size: 16px;
    }

    .over{
        padding: 20px 50px;
        margin: 20px 200px;
        text-align: justify;
    }

    }
